[defaults]
inventory = ../shared-inventory/inventory/hosts.yml, inventory/hosts.yml
roles_path = roles:~/.ansible/roles:..
interpreter_python = auto_silent
retry_files_enabled = False
vault_password_file = .vault_pass

[privilege_escalation]
become = True
